@media (max-width: 1065px) {
    .users-list {
        padding: 40px 200px;
    }
    .nav-header {
        padding: 0 60px;
    }
}

@media (min-width: 1600px) {
    .users-list {
        padding: 40px 360px;
        max-width: 1100px;
        margin: 0 auto;
        box-shadow: none;
    }

    .draftsList {
        margin: 0 120px;
    }
}