$mainColor: #145374;
$secondColor: #00334e;
$thirdColor: #ee6f57;
$leavesColor: #1c746b;
$darkenwhite: #fafafa;
$boxShadow: #bdbdbd; 
$white: #ffffff;
$black: #000000;

$noteFirstColor: #fdfda6;
$noteSecondColor: #adfaad;
$noteThirdColor: #ababfd;
$noteFourthColor: #fcaffc;

$hoverColorBlue: rgba(20, 83, 116, 0.8);