@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

$main-font: 'Tahoma', sans-serif;
$second-font: 'Galada', cursive;
$logo-font: 'Pacifico', cursive;
$lato-font: 'Lato', sans-serif;